body
{
	margin: 0px 0px 150px 0px;
	padding: 0;
	font: 18px "Comic Sans", sans-serif;

}
h1
{
	font: 30px "Comic Sans", sans-serif;
}
h2
{
	font: 26px "Comic Sans", sans-serif;
}
h3
{
	font: 22px "Comic Sans", sans-serif;
}

/* EN-TÊTE */

.site-header-content
{
	height: 125px;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid black;
	background-color: rgb(128,128,128);
	justify-content: center;
}
.logo-gbaf-connected-container
{
	width: 50%;
}
.logo-gbaf-connected-container img
{
	width: 105px;
	height: 125px;
}
.nav-menu-header-container
{
	width: 50%;
}
.logo-gbaf-disconnected
{
	width : 105px;
	height: 125px;
}

/* menu deroulant en-tete */

.nav-menu-header
{
	text-align: right;
}
.nav-menu-header li
{
	list-style-type: none;
}
.submenu li
{
	margin-top: 3px;
}
.submenu a
{
	padding-right: 10px;
}
#nomprenomheader
{
	border: 1px solid none;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	right: 5px;
	font-size: 20px;
	background-color: red;
	color: black;
}

/* PIED DE PAGE */

.site-footer-content
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background-color: rgb(128,128,128);
	border-top: 2px solid black;
	position: fixed;
	bottom: 0;
}
.nav-menu-footer ul li a
{
	color: black;
}
.nav-menu-footer ul li
{
	display: inline;
	color: red;
}
.nav-menu-footer ul
{
	padding: 0px;
}
.nav-menu-footer ul li::after
{
	content:" |";
}

/* INDEX */
/* gbaf section */
#gbaf-section-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#gbaf-section-container h1
{
	margin: 5px auto 0px auto;
}
#gbaf-section-container p
{
	text-align:  center;
	margin-left: 60px;
	margin-right: 60px;
}

/* acteurs section */
#actors-section-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#actors-section-container h2
{
	margin: 5px auto 0px auto;
}
#actors-list-container
{
	border: 2px solid black;
	box-shadow: 0px 0px 16px 2px #34473F;
	padding: 15px;
	background-color: rgb(128,128,128);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.actors-entry-content
{
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 5px;
	margin: 5px auto 0px auto;
	background-color: rgb(192,192,192);
	width: 95%;
	height: 110px;
}
.actors-entry-content img
{
	width: 30%;
}
.actors-entry-description-container
{
	width: 65%;
	margin: 0px 5px 0px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.actors-entry-content p
{
	font-size: 18px;
}
.actors-entry-content a
{
	position: relative;
	top: 92px;
	width: 15%;
	font-size: 16px;
	text-align: right;
}

/* PAGE CONNEXION */

#connexion-form-container
{
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#connexion-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#connexion-form
{
	width: 55%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#connexion-username, #connexion-password
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#connexion-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}
#connexion-form-container a
{
	font-size: 16px;
}
#connexion-form p
{
	color: rgba(255,0,0,0.7);
	margin-bottom: 10px;
	text-align: center;
	margin-top : 0px;
}
#registerSucces
{
	color: rgba(0,255,0,0.7);
}

/* PAGE INSCRIPTION */
#register-form-container
{
	display: flex;
	flex-direction: column;
	width: 45%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#register-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#register-form
{
	width: 55%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#register-nom, #register-prenom, #register-username, #register-password, #register-secretanswer
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#register-secretquestion
{
	height: 35px;
	width: 87%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	background-color: rgb(244,244,244);
}
#register-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	font-stretch: expanded;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#register-form p
{
	margin: 0px 0px 10px 0px;
}
.error-register
{
	color: rgba(255,0,0,0.7);
	font-size: 14px;
	margin-bottom: 20px;
}
.requirement-register-form
{
	font-size: 14px;
	color: rgb(128,128,128);
}

/* PAGE MOT DE PASSE PERDU */
#passwordlost-form-container
{
	display: flex;
	flex-direction: column;
	width: 45%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#passwordlost-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#passwordlost-form
{
	width: 55%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#passwordlost-password, #passwordlost-password2, #passwordlost-username, #passwordlost-secretanswer
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#passwordlost-secretquestion
{
	height: 35px;
	width: 87%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	background-color: rgb(244,244,244);
}
#passwordlost-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	font-stretch: expanded;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#passwordlost-form p
{
	margin: 0px 0px 10px 0px;
}
.error-passwordlost
{
	color: rgba(255,0,0,0.7);
	font-size: 14px;
	margin-bottom: 20px;
}
.requirement-passwordlost-form
{
	font-size: 14px;
	color: rgb(128,128,128);
}

/* PAGE ACTEUR */
/* section acteur */
.actor-section-container
{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px auto 0px auto;
	width: 60%;
}
.actor-section-container h2
{
	font-size: 36px;
	color: rgba(255,0,0,0.7);
	margin: 5px 0px 0px 0px;
	text-transform: uppercase;
}
.actor-section-container img
{
	height: 125px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* Section commentaires */
#post-list-container
{
	display: flex;
	flex-direction: column;
    border: 2px solid black;
    background-color: rgb(128,128,128);
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#post-list-content-title
{
	display: flex;
	flex-direction: row;
}
#post-list-content-title h3
{
	margin: 0px;
	margin-bottom: 20px;
	width: 70%;
}
#form-add-post-button
{
	margin-right: 5px;
}
#form-add-post-button button
{
	height: 30px;
	background-color: rgb(192,192,192);
	font-weight: 600;
	border: 1px solid black;
	border-radius: 10px;
}
#form-add-post
{
	margin-bottom: 10px;
}
#form-add-post textarea
{
	background-color: rgb(192,192,192);
	border: 1px solid black;
}
#form-add-post input
{
	background-color: rgb(192,192,192);
	border: 1px solid black;
	height: 30px;
	font-weight: 600;
}
#commentaire
{
	margin: 5px 0px 5px 0px;
}
#likesystem-container img
{
	height: 25px;
	width: 25px;
}
.ActorPost
{
	border: 2px solid black;
	background-color: rgb(192,192,192);
	padding: 5px;
}
.ActorPost p, h4
{
	margin: 0px;
}
.NomDatePost
{
	text-decoration: underline;
}
.errorpost
{
	color: rgba(255,0,0,0.7);
	font-size: 16px;
}

/* PAGE GESTION DE COMPTE */
#account-form-container
{
	width: 60%;
	border-top: 2px solid rgba(255,0,0,0.7);
	border-bottom: 2px solid rgba(255,0,0,0.7);
	margin: 45px auto 15px auto;
	background-color: rgb(192,192,192);
	padding-left: 15px;
}
#account-form-container h1
{
	color: rgba(255,0,0,0.7);
	margin: 5px 0px 0px 0px;
}
#account-form-nom, #account-form-prenom, #account-form-username, #account-form-password, #account-form-secretquestion, #account-form-secretanswer
{
	display: inline-flex;
	border-top: 1px solid black;
}
#account-form-nom, #account-form-prenom, #account-form-username, #account-form-password, #account-form-secretquestion, #account-form-secretanswer p
{
	color: rgba(255,0,0,0.7);
}
#account-content img
{
	height: 20px;
	width: 20px;
}
#account-content button
{
	background-color: rgb(192,192,192);
	border: none;
	margin-left: 50px;
}
#account-content button:hover
{
	background-color: rgb(128,128,128);
}
.account-info
{
	margin-left: 15px;
	font-size: 16px;
	color: black;
}
#account-password, #account-newpassword2, #account-secretquestion, #account-secretanswer
{
	margin-bottom: 10px;
}
.requirement-account-form
{
	font-size: 16px;
	color: rgb(128,128,128);
}
.error-account
{
	color: rgba(255,0,0,0.7);
	font-size: 16px;
}
.succes-account
{
	color: rgba(0,255,0,0.7);
	font-size: 16px;
}
.validation-button
{
	height: 30px;
	width: 80px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	font-stretch: expanded;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/* RESPONSIVE TABLETTE */
@media all and (max-width: 1024px)
{
	/* PAGE CONNEXION */
	#connexion-form-container
	{
		width: 60% !important;
	}
	#connexion-form
	{
		width: 60% !important;
	}

	/* PAGE INSCRIPTION */
	#register-form-container
	{
		width: 60% !important;
	}
	#register-form
	{
		width: 60% !important;
	}

	/* PAGE MDP PERDU */
	#passwordlost-form-container
	{
		width: 60% !important;
	}
	#passwordlost-form
	{
		width: 60% !important;
	}

	/* INDEX */
	#gbaf-section-container p
	{
		margin-left: 100px !important;
		margin-right: 100px !important;
	}
	#actors-section-container p
	{
		margin-left: 100px;
		margin-right: 100px;
		text-align: center;
	}
	#actors-list-container
	{
		width: 70% !important;
	}
	.actors-entry-description-container p
	{
		margin: 0px !important;
		text-align: left !important;
	}
	.actors-entry-content a
	{
		width: 25% !important;
	}

	/* PAGE ACTEUR */
	.actor-section-container
	{
		width: 80% !important;
	}
	#post-list-container
	{
		width: 70% !important;
	}
	#post-list-container h3
	{
		width: 45% !important;
	}
	#post-list-container textarea
	{
		resize: none !important;
		width: 90% !important;
	}
}

/* RESPONSIVE MOBILE */
@media all and (max-width: 480px)
{
	/* PAGE CONNEXION */
	#connexion-form-container
	{
		width: 80% !important;
	}
	#connexion-form-container a
	{
		text-align:  center !important;
	}
	#connexion-form
	{
		width: 80% !important;
	}

	/* PAGE INSCRIPTION */
	#register-form-container
	{
		width: 80% !important;
	}
	#register-form-container h1
	{
		font-size: 26px !important;
	}
	#register-form
	{
		width: 80% !important;
	}
	#register-secretquestion
	{
		font-size: 11px !important;
	}

	/* PAGE MDP PERDU */
	#passwordlost-form-container
	{
		width: 80% !important;
	}
	#passwordlost-form-container h1
	{
		font-size: 22px !important;
		height: 70px !important;
	}
	#passwordlost-form
	{
		width: 80% !important;
	}
	#passwordlost-secretquestion
	{
		font-size: 11px !important;
	}

	/* EN-TÊTE */
	.logo-gbaf-connected-container
	{
		width: 30% !important;
	}
	.nav-menu-header-container
	{
		width: 70% !important;
	}
	#nomprenomheader
	{
		font-size: 18px !important;
	}
	.submenu a
	{
		font-size: 16px !important;
	}

	/* INDEX */
	#gbaf-section-container h1
	{
		text-align: center !important;
		font-size: 24px !important;
	}
	#gbaf-section-container p
	{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	#gbaf-section-container img
	{
		width: 80% !important;
	}
	#actors-section-container h2
	{
		text-align: center !important;
		font-size: 24px !important;
	}
	#actors-section-container p
	{
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
	}
	#actors-list-container
	{
		width: 70% !important;
	}
	.actors-entry-content
	{
		flex-direction: column !important;
		align-items: center !important;
		height: 155px !important;
	}
	.actors-entry-content img
	{
		width: 100% !important;
		height: 65px !important;
	}
	.actors-entry-description-container
	{
		width: 100% !important;
	}
	.actors-entry-description-container h3
	{
		margin: 5px 0px 5px 0px !important;
	}
	.actors-entry-description-container p
	{
		text-align: left !important;
		margin: 0px !important;
		font-size: 16px !important;
	}
	.actors-entry-content a
	{
		width: 100% !important;
		position: static !important;
	}

	/* GESTION DE COMPTE */
	#account-form-container
	{
		width: 80% !important;
	}
	#account-secretquestion
	{
		width: 80% !important;
	}

	/* PAGE ACTEUR */
	.actor-section-container
	{
		width: 90% !important;
	}
	#post-list-container
	{
		width: 90% !important;
		flex-wrap: wrap !important;
	}
	#post-list-content-title h3
	{
		font-size: 20px !important;
		width: 55% !important;
	}
	#form-add-post-button button
	{
		font-size: 12px !important;
		font-weight: 400 !important;
		width: 90px !important;
	}
	#form-add-post-button
	{
		width: 30% !important;
	}
	#post-list-container textarea
	{
		resize: none !important;
		width: 90% !important;
	}
	#likesystem-container
	{
		width: 25% !important;
	}
	#likesystem-container img
	{
		height: 20px;
		width: 20px;
	}
	.ActorPost
	{
		margin-top: 10px !important;
	}
}








