body
{
	margin: 0;
	padding: 0;
}

/* EN-TÊTE */

.site-header-content
{
	height: 125px;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid black;
	background-color: rgb(128,128,128);
}
.logo-gbaf-connected-container
{
	width: 50%;
}
.logo-gbaf-connected-container img
{
	width: 105px;
	height: 125px;
}
.nav-menu-header-container
{
	width: 50%;
}

/* menu deroulant en-tete */

.nav-menu-header
{
	text-align: right;
}
.nav-menu-header li
{
	list-style-type: none;
}
.submenu
{
	display: none;
}
.nav-menu-header li:hover .submenu
{
	display: block;
}
.submenu a
{
	padding: 26px;
}
#nomprenomheader
{
	border: 1px solid red;
	border-radius: 20px;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	top: 10px;
	right: 5px;
	background-color: red;
}
#nomprenomheader::after
{
	content:" ▼";
	font-size: 12px;
}

/* PIED DE PAGE */

.site-footer-content
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height : 100px;
	background-color: rgb(128,128,128);
	border-top: 2px solid black;
}
.nav-menu-footer ul li a
{
	color: black;
}
.nav-menu-footer ul li
{
	display: inline;
	color: red;
}
.nav-menu-footer ul li::after
{
	content:" |";
}

/* INDEX */
/* gbaf section */
#gbaf-section-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
}
#gbaf-section-content h1
{
	margin: 5px 0px 0px 0px;
}
#gbaf-section-content p
{
	text-align: center;
	padding-left: auto;
	padding-right: auto;
}

/* acteurs section */
#actors-section-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#actors-section-content h2
{
	margin: 5px 0px 0px 0px;
}
#actors-section-content p
{
	text-align: center;
}
#actors-list-container
{
	border: 2px solid black;
	box-shadow: 0px 0px 16px 2px #34473F;
	padding: 15px;
	background-color: rgb(128,128,128);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.actors-entry
{
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 5px;
	margin: 5px auto 0px auto;
	background-color: rgb(192,192,192);
	width: 95%;
	height: 110px;
}
.actors-entry img
{
	width: 30%;
}
.actors-entry-content
{
	width: 65%;
	margin: 0px 5px 0px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.actors-entry a
{
	position: relative;
	top: 86px;
	width: 15%;
}
.link-actors-next-page-list a
{
	border: 1px solid black;
	border-radius: 20px;
	color: black;
	background-color: red;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	font-style: italic;
}
.title-content-actors-list-inside
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* PAGE CONNEXION */

.connexion-corpse
{
	display: flex;
	flex-direction: column;
}
.connexion-form-container
{
	align-items: center;
	justify-content: center;
	height: 300px;
}













