body
{
	margin: 0;
	padding: 0;
	font: 18px "Comic Sans", sans-serif;
}
h1
{
	font: 30px "Comic Sans", sans-serif;
}
h2
{
	font: 26px "Comic Sans", sans-serif;
}
h3
{
	font: 22px "Comic Sans", sans-serif;
}

/* EN-TÊTE */

.site-header-content
{
	height: 125px;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid black;
	background-color: rgb(128,128,128);
	justify-content: center;
}
.logo-gbaf-connected-container
{
	width: 50%;
}
.logo-gbaf-connected-container img
{
	width: 105px;
	height: 125px;
}
.nav-menu-header-container
{
	width: 50%;
}
.logo-gbaf-disconnected
{
	width : 105px;
	height: 125px;
}

/* menu deroulant en-tete */

.nav-menu-header
{
	text-align: right;
}
.nav-menu-header li
{
	list-style-type: none;
}
.submenu
{
	display: none;
}
.nav-menu-header li:hover .submenu
{
	display: block;
}
.submenu a
{
	padding: 26px;
}
#nomprenomheader
{
	border: 1px solid red;
	border-radius: 20px;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	top: 10px;
	right: 5px;
	background-color: red;
}
#nomprenomheader::after
{
	content:" ▼";
	font-size: 12px;
}

/* PIED DE PAGE */

.site-footer-content
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height : 100px;
	background-color: rgb(128,128,128);
	border-top: 2px solid black;
}
.nav-menu-footer ul li a
{
	color: black;
}
.nav-menu-footer ul li
{
	display: inline;
	color: red;
}
.nav-menu-footer ul li::after
{
	content:" |";
}

/* INDEX */
/* gbaf section */
#gbaf-section-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
}
#gbaf-section-content h1
{
	margin: 5px 0px 0px 0px;
}
#gbaf-section-content p
{
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
}

/* acteurs section */
#actors-section-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#actors-section-content h2
{
	margin: 5px 0px 0px 0px;
}
#actors-section-content p
{
	text-align: center;
}
#actors-list-container
{
	border: 2px solid black;
	box-shadow: 0px 0px 16px 2px #34473F;
	padding: 15px;
	background-color: rgb(128,128,128);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.actors-entry
{
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 5px;
	margin: 5px auto 0px auto;
	background-color: rgb(192,192,192);
	width: 95%;
	height: 110px;
}
.actors-entry img
{
	width: 30%;
}
.actors-entry-content
{
	width: 65%;
	margin: 0px 5px 0px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.actors-entry-content p
{
	font-size: 18px;
}
.actors-entry a
{
	position: relative;
	top: 92px;
	width: 15%;
	font-size: 16px;
	text-align: right;
}
.link-actors-next-page-list a
{
	border: 1px solid black;
	border-radius: 20px;
	color: black;
	background-color: red;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	font-style: italic;
}
.title-content-actors-list-inside
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* PAGE CONNEXION */

#connexion-form-container
{
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#connexion-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#connexion-form
{
	width: 55%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#connexion-username, #connexion-password
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#connexion-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}
#connexion-form-container a
{
	font-size: 16px;
}
#connexion-form p
{
	color: red;
	margin-bottom: 10px;
	text-align: center;
	margin-top : 0px;
}

/* PAGE INSCRIPTION */
#register-form-container
{
	display: flex;
	flex-direction: column;
	width: 45%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#register-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#register-form
{
	width: 55%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#register-nom, #register-prenom, #register-username, #register-password, #register-secretanswer
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#register-secretquestion
{
	height: 35px;
	width: 87%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	background-color: rgb(244,244,244);
}
#register-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	font-stretch: expanded;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#register-form p
{
	margin: 0px 0px 10px 0px;
}
.error-register
{
	color: red;
	font-size: 14px;
	margin-bottom: 20px;
}
.requirement-register-form
{
	font-size: 14px;
	color: rgb(128,128,128);
}

/* PAGE MOT DE PASSE PERDU */
#passwordlost-form-container
{
	display: flex;
	flex-direction: column;
	width: 45%;
	align-items: center;
	margin: 30px auto 30px auto;
	border: 15px solid rgba(255,0,0,0.7);
}
#passwordlost-form-container h1
{
	background-color: rgba(26,26,26,0.9);
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 0px;
}
#passwordlost-form
{
	width: 55%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#passwordlost-password, #passwordlost-password2, #passwordlost-username, #passwordlost-secretanswer
{
	height: 35px;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	background-color: rgb(244,244,244);
}
#passwordlost-secretquestion
{
	height: 35px;
	width: 87%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	background-color: rgb(244,244,244);
}
#passwordlost-button
{
	width: 100%;
	height: 35px;
	background-color: rgba(255,0,0,0.7);
	border: 1px solid black;
	color: white;
	font-size: 16px;
	font-stretch: expanded;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#passwordlost-form p
{
	margin: 0px 0px 10px 0px;
}
.error-passwordlost
{
	color: red;
	font-size: 14px;
	margin-bottom: 20px;
}
.requirement-passwordlost-form
{
	font-size: 14px;
	color: rgb(128,128,128);
}












